<h3>Welcome to the game</h3>

<div data-controller="table"
     data-table-shot-url-value="<%= tables_path %>">
  <h1 data-table-target="output"><%= @state.score %></h1>
  <button data-action="click->table#shoot">Shoot</button>
</div>
